.adogtame-s2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(25vw, 1fr));
    gap: 10vh;
    column-gap: 10vw;
    justify-content: center;
    margin-top: 5vh;
    padding: 5vh 10vw 5vh 10vw;
}

.adogtame-s2-div {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
}

.adogtame-s2 img {
    width: 25vw;
    height: auto;
    border-radius: 0.5vw;
}

.adogtame-s2-div:hover img {
    opacity: 0;
}

.adogtame-s2 video {
    width: 25vw;
    height: auto;
    border-radius: 0.5vw;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.adogtame-s2-div:hover video {
    opacity: 1;
    pointer-events: auto;
}

.adogtame-s2 ul {
    font-family: "Sans";
    font-size: 1.2vw;
    line-height: 4vh;
}