/* ----------TARJETAS GIRATORIAS--------------- */
.adogtool-s2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(25vw, 1fr));
    row-gap: 5vh;
    column-gap: 2vw;
    padding: 10vh;
    font-size: 1.2vw;
    font-family: "Sans";
    text-align: justify;

}
.adogtool-s2 img {
    width: 20vw;
    height: auto;
    border-radius: 0.5vw;
}
#p1 {
    margin-bottom: 2vh; 
}
.card {
    display: flex;
    align-items: center;
    column-gap: 2vw;
    height: auto;
}
