.tour-s2 {
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
}
.tour-s2 h2 {
    font-family: "Paytone";
    font-size: 3vw;
    color: #fca503;
}
.tour-s2 p {
    margin-top: 5vh;
    font-family: "Sans";
    font-size: 1.5vw;
    color: black;
    line-height: 4vh;
    text-align: justify;
}
#map {
    border-radius: 0.5vw;
    width: 45vw;
    height: 55vh;
}