.tor-s2 {
    padding:10vh 10vw 0 10vw;
    display: flex;
    gap: 15vh;
    flex-direction: column;
}
.tor-s2-div {
    display: flex;
    align-items: center;
    gap: 5vw;
    font-family: "Sans";
    font-size: 2vw;
    text-align: justify;
}

.tor-s2-div ul {
    font-family: "Sans";
    font-size: 1.3vw;
    line-height: 2.3vw;
}
#desc {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.tor-s2-div img {
    border-radius: 2%;
    width: 20vw;
    height: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
