/* ----------TARJETAS GIRATORIAS--------------- */
.adogtoy-s2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(25vw, 1fr));
    gap: 10vh;
    justify-items: center;
    margin-top: 5vh;
}
.adogtoy-s2 img {
    width: 20vw;
    height: auto;
    border-radius: 0.5vw;
}
.adogtoy-s2 p {
    font-size: 1.5vw;
    font-family: "Sans";
    text-align: center;
}
#p1 {
   margin-bottom: 2vh; 
}
.card ul {
    margin-top: 1.5vh;
    font-size: 1.3vw;
    font-family: "Sans";
    justify-content: center;
}
.card {
    display: flex;
    align-items: center;
    width: 20vw;
    height: auto;
    perspective: 100vw; /* Agrega perspectiva para el efecto 3D */
}
.front,
.back {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; /* Agrega una transición suave al girar */
    backface-visibility: hidden; /* Oculta la parte trasera de la tarjeta */
    transform-style: preserve-3d;
}
.front {
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg); /* Inicialmente, la parte trasera está girada 180 grados */
    background-color: #f1f1f1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    padding: 1.5vh;
}
.card:hover .front {
    transform: rotateY(-180deg); /* Añade translateZ al efecto de giro */
}
.card:hover .back {
    transform: rotateY(0deg); /* Añade translateZ al efecto de giro */
}