/* ----------------------- FOOTER ----------------------- */
footer {
    margin-top: 10vh;
    background-color: #404140;
    color: #fff;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    font-family: "Sans";
    font-size: 1vw;
}

.columna-izquierda h3 {
    padding-bottom: 2vh;
    margin-left: 3vw;
}

.columna-izquierda ul {
    list-style-type: none;
    margin-bottom: 1vh;
    margin-left: 3vw;

}

.columna-izquierda li {
    line-height: 2;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.columna-central img {
    width: 5vw;
    height: auto;
}

.columna-derecha {
    text-align: right;
}

.columna-derecha h3 {
    padding-bottom: 2vh;
    margin-right: 3vw;
}

.columna-derecha p {
    margin-right: 3vw;
    padding-bottom: 2vh;
}

.redes-sociales {
    margin-right: 3vw;
}

.redes-sociales i {
    margin-left: 1vw;
    font-size: 2vw;
}