@media only screen and (max-width: 600px) {
    /* NAV */
    .nav {
        height: 5vh;
    }
    .nav .logo {
        width: 4vw;
    }
    .nav .menu .a {
        font-size: 2vw;
    }
    /* ENCABEZADO */
    .s1 .s1-div1{
        height: 20vh;
    }
    .s1 .s1-div1 #titulo,
    .s1 .s1-div1 #titulo-adopcion,
    .s1 .s1-div1 #titulo-tour,
    .s1 .s1-div1 #titulo-toy,
    .s1 .s1-div1 #titulo-tell,
    .s1 .s1-div1 #titulo-tool,
    .s1 .s1-div1 #titulo-tor {
        font-size: 4.5vw;
        padding-top: 1vh;
    }
    .s1 .s1-div1 #subtitulo,
    .s1 .s1-div1 #subtitulo-adopcion,
    .s1 .s1-div1 #subtitulo-tour,
    .s1 .s1-div1 #subtitulo-toy,
    .s1 .s1-div1 #subtitulo-tell,
    .s1 .s1-div1 #subtitulo-tool,
    .s1 .s1-div1 #subtitulo-tor {
        font-size: 1.8vw;
        padding-top: 1.5vh;
    }
    /* FRASE */
    .s2 .s2-div1 {
        font-size: 3vw;
        margin-top: 0vh;
        padding: 5vh;
    }
    /* CONTENIDO */
    .s3 {
        flex-direction: column;
        align-items: center;
    }
    .s3 .card-s3 {
        width: 60vw;
        height: 60vh; 
    }
    .s3 .card-s3 h3 {
        font-size: 3.5vw;
    }
    .s3 .card-s3 p {
        font-size: 2.5vw;
        padding: 2vw;
        line-height: 3vh;
    }
    .s3 .card-s3 .card-div .btn {
        font-size: 3vw;
    }
    /* FOOTER */
    .foot {
        font-size: 2vw;
    }
    .foot #img {
        width: 10vw;
    }
    .foot #sm {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    /* NAV */
    .nav {
        height: 7vh;
    }
    .nav .logo {
        width: 5vw;
    }
    .nav .menu .a {
        font-size: 2vw;
    }
    /* ENCABEZADO */
    .s1 .s1-div1{
        height: 30vh;
    }
    .s1 .s1-div1 #titulo,
    .s1 .s1-div1 #titulo-adopcion,
    .s1 .s1-div1 #titulo-tour,
    .s1 .s1-div1 #titulo-toy,
    .s1 .s1-div1 #titulo-tell,
    .s1 .s1-div1 #titulo-tool,
    .s1 .s1-div1 #titulo-tor {
        font-size: 5vw;
        padding-top: 2vh;
    }
    .s1 .s1-div1 #subtitulo,
    .s1 .s1-div1 #subtitulo-adopcion,
    .s1 .s1-div1 #subtitulo-tour,
    .s1 .s1-div1 #subtitulo-toy,
    .s1 .s1-div1 #subtitulo-tell,
    .s1 .s1-div1 #subtitulo-tool,
    .s1 .s1-div1 #subtitulo-tor {
        font-size: 1.5vw;
        padding-top: 1.2vh;
    }
    /* FRASE */
    .s2 .s2-div1 {
        font-size: 3vw;
        margin-top: 0vh;
        padding: 5vh;
    }
    /* CONTENIDO */
    .s3 {
        flex-direction: column;
        align-items: center;
    }
    .s3 .card-s3 {
        width: 60vw;
        height: 70vh;   
    }
    .s3 .card-s3 h3 {
        font-size: 3.5vw;
    }
    .s3 .card-s3 p {
        font-size: 2.5vw;
        padding: 2vw;
    }
    .s3 .card-s3 .card-div .btn {
        font-size: 3vw;
    }
    /* FOOTER */
    .foot {
        font-size: 2vw;
    }
    .foot #img {
        width: 10vw;
    }
    .foot #sm {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* NAV */
    .nav {
        height: 7vh;
    }
    .nav .logo {
        width: 4vw;
    }
    .nav a {
        font-size: 1.5vw;
    }
    /* ENCABEZADO */
    .s1 .s1-div1{
        height: 30vh;
    }
    .s1 .s1-div1 #titulo,
    .s1 .s1-div1 #titulo-adopcion,
    .s1 .s1-div1 #titulo-tour,
    .s1 .s1-div1 #titulo-toy,
    .s1 .s1-div1 #titulo-tell,
    .s1 .s1-div1 #titulo-tool,
    .s1 .s1-div1 #titulo-tor {
        font-size: 5vw;
        padding-top: 3vh;
    }
    .s1 .s1-div1 #subtitulo,
    .s1 .s1-div1 #subtitulo-adopcion,
    .s1 .s1-div1 #subtitulo-tour,
    .s1 .s1-div1 #subtitulo-toy,
    .s1 .s1-div1 #subtitulo-tell,
    .s1 .s1-div1 #subtitulo-tool,
    .s1 .s1-div1 #subtitulo-tor {
        font-size: 2vw;
        padding-top: 1.5vh;
    }
    /* FRASE */
    .s2 .s2-div1 {
        font-size: 2.5vw;
        margin-top: 0vh;
        padding: 5vh;
    }
    /* CONTENIDO */
    .s3 {
        flex-direction: column;
        align-items: center;
    }
    .s3 .card-s3 {
        width: 50vw;
        height: 75vh;
        
    }
    .s3 .card-s3 h3 {
        font-size: 3vw;
    }
    .s3 .card-s3 p {
        font-size: 2vw;
        padding: 2vw;
    }
    .s3 .card-s3 .card-div .btn {
        font-size: 2vw;
    }
    /* FOOTER */
    .foot {
        font-size: 1.5vw;
    }
    .foot #img {
        width: 8vw;
    }
    .foot #sm {
        font-size: 2vw;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* NAV */
    .nav {
        height: 7vh;
    }
    .nav .logo {
        width: 4vw;
    }
    .nav a {
        font-size: 1.5vw;
    }
    /* ENCABEZADO */
    .s1 .s1-div1{
        height: 50vh;
    }
    .s1 .s1-div1 #titulo,
    .s1 .s1-div1 #titulo-adopcion,
    .s1 .s1-div1 #titulo-tour,
    .s1 .s1-div1 #titulo-toy,
    .s1 .s1-div1 #titulo-tell,
    .s1 .s1-div1 #titulo-tool,
    .s1 .s1-div1 #titulo-tor {
        font-size: 5vw;
        padding-top: 8vh;
    }
    .s1 .s1-div1 #subtitulo,
    .s1 .s1-div1 #subtitulo-adopcion,
    .s1 .s1-div1 #subtitulo-tour,
    .s1 .s1-div1 #subtitulo-toy,
    .s1 .s1-div1 #subtitulo-tell,
    .s1 .s1-div1 #subtitulo-tool,
    .s1 .s1-div1 #subtitulo-tor {
        font-size: 2vw;
        padding-top: 1.5vh;
    }
    /* FRASE */
    .s2 .s2-div1 {
        font-size: 2.5vw;
        margin-top: 0vh;
        padding: 5vh;
    }
    /* CONTENIDO */
    .s3 {
        flex-direction: row;
        align-items: center;
    }
    .s3 .card-s3 {
        width: 25vw;
        height: 75vh;
    }
    .s3 .card-s3 h3 {
        font-size: 2vw;
    }
    .s3 .card-s3 p {
        font-size: 1.5vw;
        padding: 2vw;
        line-height: 3vh;
    }
    .s3 .card-s3 .card-div .btn {
        font-size: 1.5vw;
    }
    /* FOOTER */
    .foot {
        font-size: 1.5vw;
    }
    .foot #img {
        width: 8vw;
    }
    .foot #sm {
        font-size: 2.5vw;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    /* NAV */
    .nav {
        height: 7vh;
    }
    .nav .logo {
        width: 3vw;
    }
    .nav a {
        font-size: 1.2vw;
    }
    /* ENCABEZADO */
    .s1 .s1-div1{
        height: 50vh;
    }
    .s1 .s1-div1 #titulo,
    .s1 .s1-div1 #titulo-adopcion,
    .s1 .s1-div1 #titulo-tour,
    .s1 .s1-div1 #titulo-toy,
    .s1 .s1-div1 #titulo-tell,
    .s1 .s1-div1 #titulo-tool,
    .s1 .s1-div1 #titulo-tor {
        font-size: 4vw;
        padding-top: 15vh;
    }
    .s1 .s1-div1 #subtitulo,
    .s1 .s1-div1 #subtitulo-adopcion,
    .s1 .s1-div1 #subtitulo-tour,
    .s1 .s1-div1 #subtitulo-toy,
    .s1 .s1-div1 #subtitulo-tell,
    .s1 .s1-div1 #subtitulo-tool,
    .s1 .s1-div1 #subtitulo-tor {
        font-size: 2vw;
        padding-top: 1.5vh;
    }
    /* FRASE */
    .s2 .s2-div1 {
        font-size: 2vw;
        margin-top: 10vh;
        padding: 5vh;
    }
    /* CONTENIDO */
    .s3 {
        flex-direction: row;
        align-items: center;
    }
    .s3 .card-s3 {
        width: 25vw;
        height: 90vh;
    }
    .s3 .card-s3 h3 {
        font-size: 1.8vw;
        line-height: 4vh;
    }
    .s3 .card-s3 p {
        font-size: 1.2vw;
        padding: 2vw;
        line-height: 4vh;
    }
    .s3 .card-s3 .card-div .btn {
        font-size: 1.2vw;
    }
    /* FOOTER */
    .foot {
        font-size: 1.2vw;
    }
    .foot #img {
        width: 7vw;
    }
    .foot #sm {
        font-size: 2vw;
    }
}
@media only screen and (min-width: 1900px) {
    /* NAV */
    .nav {
        height: 9vh;
    }
    .nav .logo {
        width: 2.3vw;
    }
    .nav a {
        font-size: 1vw;
    }

    .s1 .s1-div1{
        height: 90vh;
    }
    .s1 .s1-div1 #titulo,
    .s1 .s1-div1 #titulo-adopcion,
    .s1 .s1-div1 #titulo-tour,
    .s1 .s1-div1 #titulo-toy,
    .s1 .s1-div1 #titulo-tell,
    .s1 .s1-div1 #titulo-tool,
    .s1 .s1-div1 #titulo-tor {
        font-size: 4vw;
        padding-top: 20vh;
    }
    .s1 .s1-div1 #subtitulo,
    .s1 .s1-div1 #subtitulo-adopcion,
    .s1 .s1-div1 #subtitulo-tour,
    .s1 .s1-div1 #subtitulo-toy,
    .s1 .s1-div1 #subtitulo-tell,
    .s1 .s1-div1 #subtitulo-tool,
    .s1 .s1-div1 #subtitulo-tor {
        font-size: 2vw;
        padding-top: 1.5vh;
    }
    /* FRASE */
    .s2 .s2-div1 {
        font-size: 2vw;
        margin-top: 10vh;
        padding: 5vh;
    }
    /* CONTENIDO */
    .s3 {
        flex-direction: row;
        align-items: center;
    }
    .s3 .card-s3 {
        width: 25vw;
        height: 100vh;
    }
    .s3 .card-s3 h3 {
        font-size: 1.5vw;
    }
    .s3 .card-s3 p {
        font-size: 1vw;
        padding: 2vw;
        line-height: 4vh;
    }
    .s3 .card-s3 .card-div {
        padding-top: 0.5vw;
    }
    .s3 .card-s3 .card-div .btn {
        font-size: 1vw;
    }
    /* FOOTER */
    .foot {
        font-size: 0.8vw;
    }
    .foot #img {
        width: 5vw;
    }
    .foot #sm {
        font-size: 1.5vw;
    }
}