@media only screen and (max-width: 600px) {
    /* CONTENIDO */
    #adogtool-s2 {
        grid-template-columns: repeat(1, minmax(25vw, 1fr));
        padding: 5vh;
        font-size: 2vw;
    }
    #adogtool-s2 img {
        width: 30vw;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    /* CONTENIDO */
    #adogtool-s2 {
        grid-template-columns: repeat(1, minmax(25vw, 1fr));
        padding: 5vh;
        font-size: 2vw;
    }
    #adogtool-s2 img {
        width: 30vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CONTENIDO */
    #adogtool-s2 {
        grid-template-columns: repeat(1, minmax(25vw, 1fr));
        padding: 5vh;
        font-size: 1.8vw;
    }
    #adogtool-s2 img {
        width: 30vw;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* CONTENIDO */
    #adogtool-s2 {
        grid-template-columns: repeat(1, minmax(25vw, 1fr));
        font-size: 1.7vw;
    }
    #adogtool-s2 img {
        width: 30vw;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    /* CONTENIDO */
    #adogtool-s2 {
        grid-template-columns: repeat(1, minmax(25vw, 1fr));
        font-size: 1.5vw;
    }
    #adogtool-s2 img {
        width: 30vw;
    }
}