@media only screen and (max-width: 600px) {
    /* CONTENIDO */
    #n-hist {
        font-size: 2vw;
        padding: 5vh 7vw 0 7vw;
    
    }
    #n-hist #tit {
        font-size: 4vw;
    }
    .tell-s2 #tit {
        font-size: 4vw;
    }
    #hist{
        padding:5vh 7vw 0 7vw;
    }
    #p{
        font-size: 2vw;
    }
    .tell-s2-div img {
        width: 30vw;
    }
    .tell-s3 #tit-form {
        font-size: 4vw;
    }
    #contacto {
        padding: 7vh;
    }
    #container {
        font-size: 2vw;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    /* CONTENIDO */
    #n-hist {
        font-size: 2vw;
        padding: 5vh 7vw 0 7vw;
    
    }
    #n-hist #tit {
        font-size: 4vw;
    }
    .tell-s2 #tit {
        font-size: 4vw;
    }
    #hist{
        padding:5vh 7vw 0 7vw;
    }
    #p{
        font-size: 2vw;
    }
    .tell-s2-div img {
        width: 30vw;
    }
    .tell-s3 #tit-form {
        font-size: 4vw;
    }
    #contacto {
        padding: 7vh;
    }
    #container {
        font-size: 2vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CONTENIDO */
    #n-hist {
        font-size: 1.8vw;
        padding: 5vh 9vw 0 9vw;
    
    }
    #n-hist #tit {
        font-size: 3vw;
    }
    .tell-s2 #tit {
        font-size: 3vw;
    }
    #hist{
        padding:5vh 9vw 0 9vw;
    }
    #p{
        font-size: 1.8vw;
    }
    .tell-s2-div img {
        width: 30vw;
    }
    .tell-s3 #tit-form {
        font-size: 3vw;
    }
    #contacto {
        padding: 9vh;
    }
    #container {
        font-size: 1.8vw;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* CONTENIDO */
    #n-hist {
        font-size: 1.5vw;
        padding: 5vh 10vw 0 10vw;
    
    }
    #n-hist #tit {
        font-size: 3vw;
    }
    .tell-s2 #tit {
        font-size: 3vw;
    }
    #hist{
        padding:5vh 9vw 0 9vw;
    }
    #p{
        font-size: 1.5vw;
    }
    .tell-s2-div img {
        width: 30vw;
    }
    .tell-s3 #tit-form {
        font-size: 3vw;
    }
    #contacto {
        padding: 7vh;
    }
    #container {
        font-size: 1.5vw;
    }
}