<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/media-index.css">
    <link rel="stylesheet" href="../css/media-adogtor.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/adogtor.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>ADOGTIME</title>
</head>
<body>
    <header class="nav">
        <div class="nav-div1">
            <a href="../index.html"><img id="logo1" class="logo" src="../img/logo1.png" alt="Inicio"></a>
            <a href="../index.html"><img id="logo2" class="logo" src="../img/logo4.png" alt="Inicio"></a>
        </div>
        <nav class="menu">
            <a class="a" id="opcion-adopcion" href="adogtame.html">Adogtame</a>
            <a class="a" id="opcion-tour" href="adogtour.html">Adogtour</a>
            <a class="a" id="opcion-toy" href="adogtoy.html">Adogtoy</a>
            <a class="a" id="opcion-tell" href="adogtell.html">Adogtell</a>
            <a class="a" id="opcion-tool" href="adogtool.html">Adogtool</a>
            <a class="a" id="opcion-doctor" href="adogtor.html">Adogtor</a>
        </nav>
    </header>
    <main>
        <section class="s1">
            <div class="s1-div1" style="background-image: url(../img/7-ADOGTOR.jpg);">
                <div class="s1-div1-div1">
                    <h1 id="titulo-tor">acá, <span class="color">sintiéndome</span> un poco mal<br>pero en un click tengo la <span class="color">solución</span>.</h1>
                    <h3 id="subtitulo-tor">ahora puedes encontrar un profesional de la salud animal, muy cerca de tu área</h3>
                </div>
            </div>
        </section>
        <section class="s2">
            <div class="s2-div1">
                <p>Presentamos a nuestros veterinarios apasionados y experimentados, listos para brindar el mejor cuidado médico y atención a tu perro</p>
                <p>Confía en nosotros para mantener a tu mascota feliz y saludable.</p>
            </div>
        </section>
        <section class="tor-s2" id="tor-s2">
            <div class="tor-s2-div" id="tor-s2-div">
                <img src="../img/doctor-1.jpg" alt="">
                <div id="desc">
                    <p><b>Dr. Carlos Martínez</b></p>
                    <ul>
                        <li>Especialidad: Cirugía Ortopédica</li>
                        <li>Ubicación: Palermo, Buenos Aires, Argentina</li>
                        <li>El Dr. Martínez es un experto en cirugía ortopédica y está comprometido en mantener a los perros en movimiento. Su clínica en el corazón de Palermo ofrece tratamientos avanzados para afecciones ortopédicas y lesiones en los huesos y articulaciones.</li>
                        <li>Teléfono: 21156984</li>
                    </ul>
                </div>
            </div>
            <div class="tor-s2-div" id="tor-s2-div">
                <img src="../img/doctor-2.jpg" alt="">
                <div id="desc">
                    <p><b>Dra. Ana García</b></p>
                    <ul>
                        <li>Especialidad: Dermatología Veterinaria</li>
                        <li>Ubicación: Belgrano, Buenos Aires, Argentina</li>
                        <li>La Dra. García se especializa en dermatología veterinaria y se dedica a resolver problemas de piel y alergias en perros. Su clínica en Belgrano es conocida por ofrecer soluciones efectivas y cuidados personalizados.</li>
                        <li>Teléfono: 51496638</li>
                    </ul>
                </div>
            </div>
            <div class="tor-s2-div" id="tor-s2-div">
                <img src="../img/doctor-3.jpg" alt="">
                <div id="desc">
                    <p><b>Dra. María Rodríguez</b></p>
                    <ul>
                        <li>Especialidad: Medicina Interna</li>
                        <li>Ubicación: San Isidro, Buenos Aires, Argentina</li>
                        <li>La Dra. Rodríguez es una experta en medicina interna veterinaria y trabaja en la detección y tratamiento de enfermedades complejas en perros. Su clínica en San Isidro brinda atención compasiva y soluciones efectivas para las necesidades médicas de tu mascota.</li>
                        <li>Teléfono: 65547231</li>
                    </ul>
                </div>
            </div>
            <div class="tor-s2-div" id="tor-s2-div">
                <img src="../img/doctor-4.jpg" alt="">
                <div id="desc">
                    <p><b>Dr. Pablo López</b></p>
                    <ul>
                        <li>Especialidad: Cardiología Veterinaria</li>
                        <li>Ubicación: Recoleta, Buenos Aires, Argentina</li>
                        <li>El Dr. López es un cardiólogo veterinario dedicado a cuidar los corazones de tus mascotas. En su clínica de Recoleta, ofrece diagnósticos y tratamientos avanzados para afecciones cardíacas en perros.</li>
                        <li>Teléfono: 11867334</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer class="foot">
        <div class="columna-izquierda">
            <h3>Enlaces de Interés</h3>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="adogtame.html">Adogtame</a></li>
                <li><a href="adogtour.html">Adogtour</a></li>
                <li><a href="adogtoy.html">Adogtoy</a></li>
                <li><a href="adogtell.html">Adogtell</a></li>
                <li><a href="adogtool.html">Adogtool</a></li>
                <li><a href="adogtor.html">Adogtor</a></li>
            </ul>
        </div>
        <div class="columna-central">
            <img id="img" src="../img/logo1.png" alt="">
        </div>
        <div class="columna-derecha">
            <h3>Contacte con nosotros</h3>
            <p><a href="adogtell.html#contacto">Ir al formulario</a></p>
            <p>adogtime@gmail.com</p>
            <div class="redes-sociales">
                <i class="fa-brands fa-facebook" style="font-size: 2vw;"></i>
                <i class="fa-brands fa-twitter" style="font-size: 2vw;"></i>
            </div> 
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/643ef715bb.js" crossorigin="anonymous"></script>
</body>
</html>