<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/media-index.css">
    <link rel="stylesheet" href="../css/media-adogtoy.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/adogtoy.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>ADOGTIME</title>
</head>
<body>
    <header class="nav">
        <div class="nav-div1">
            <a href="../index.html"><img id="logo1" class="logo" src="../img/logo1.png" alt="Inicio"></a>
            <a href="../index.html"><img id="logo2" class="logo" src="../img/logo4.png" alt="Inicio"></a>
        </div>
        <nav class="menu">
            <a class="a" id="opcion-adopcion" href="adogtame.html">Adogtame</a>
            <a class="a" id="opcion-tour" href="adogtour.html">Adogtour</a>
            <a class="a" id="opcion-toy" href="adogtoy.html">Adogtoy</a>
            <a class="a" id="opcion-tell" href="adogtell.html">Adogtell</a>
            <a class="a" id="opcion-tool" href="adogtool.html">Adogtool</a>
            <a class="a" id="opcion-doctor" href="adogtor.html">Adogtor</a>
        </nav>
    </header>
    <main>
        <section class="s1">
            <div class="s1-div1" style="background-image: url(../img/4-ADOGTOY.jpg);">
                <div class="s1-div1-div1">
                    <h1 id="titulo-toy"><span class="color">aburrido</span> yo?<br>solo quiero <span class="color">juguete</span> nuevo.</h1>
                    <h3 id="subtitulo-toy">encuentra accesorios de entretenimiento y aprendizaje</h3>
                </div>
            </div>
        </section>
        <section class="s2">
            <div class="s2-div1">
                <p>En esta sección, encontrarás una variedad de accesorios para el entretenimiento y el aprendizaje.</p>
                <p>¡Explora nuestras opciones y descubre nuevas formas de divertirte y aprender!</p>
            </div>
        </section>
        <section class="adogtoy-s2" id="adogtoy-s2">
            <div class="card">
                <div class="front">
                    <img src="../img/adogtoy-1.jpg" alt="Imagen frontal">
                </div>
                <div class="back" id="back">
                    <p id="p1"><b>SOGA 3 NUDOS</b></p>
                    <p id="p2">Código de producto: 10001</p>
                    <ul>
                        <li>Material: Algodón</li>
                        <li>Medida: 15cm</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="front">
                    <img src="../img/adogtoy-2.jpg" alt="Imagen frontal">
                </div>
                <div class="back" id="back">
                    <p id="p1"><b>HUESO</b></p>
                    <p id="p2">Código de producto: 10002</p>
                    <ul>
                        <li>Material: Cuero de vaca</li>
                        <li>Medida: 14cm</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="front">
                    <img src="../img/adogtoy-3.jpg" alt="Imagen frontal">
                </div>
                <div class="back" id="back">
                    <p id="p1"><b>PELOTA GUARDA ALIMENTO</b></p>
                    <p id="p2">Código de producto: 10003</p>
                    <ul>
                        <li>Material: Goma</li>
                        <li>Medida: 7cm de diametro</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="front">
                    <img src="../img/adogtoy-4.jpg" alt="Imagen frontal">
                </div>
                <div class="back" id="back">
                    <p id="p1"><b>HELADO</b></p>
                    <p id="p2">Código de producto: 10004</p>
                    <ul>
                        <li>Material: Vinilo con Chifle</li>
                        <li>Medida: 10cm</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="front">
                    <img src="../img/adogtoy-5.jpg" alt="Imagen frontal">
                </div>
                <div class="back" id="back">
                    <p id="p1"><b>JUGUETE MANCUERNA PUAS</b></p>
                    <p id="p2">Código de producto: 10005</p>
                    <ul>
                        <li>Material: Goma con chifle</li>
                        <li>Medida: 25cm aprox</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="front">
                    <img src="../img/adogtoy-6.jpg" alt="Imagen frontal">
                </div>
                <div class="back" id="back">
                    <p id="p1"><b>PELOTA TENNIS ANIMAL PRINT</b></p>
                    <p id="p2">Código de producto: 10006</p>
                    <ul>
                        <li>Material: Caucho</li>
                        <li>Medida: 6,3cm de diametro</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="front">
                    <img src="../img/adogtoy-7.jpg" alt="Imagen frontal">
                </div>
                <div class="back" id="back">
                    <p id="p1"><b>MULTI-MORDILLO</b></p>
                    <p id="p2">Código de producto: 10007</p>
                    <ul>
                        <li>Material: Fibra de nylon y TPR</li>
                        <li>Medida: 13,5cm</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="front">
                    <img src="../img/adogtoy-8.jpg" alt="Imagen frontal">
                </div>
                <div class="back" id="back">
                    <p id="p1"><b>PELUCHE ALARGADO CHANCHO</b></p>
                    <p id="p2">Código de producto: 10008</p>
                    <ul>
                        <li>Material: Poliéster y algodón</li>
                        <li>Medida: 15cm</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="front">
                    <img src="../img/adogtoy-9.jpg" alt="Imagen frontal">
                </div>
                <div class="back" id="back">
                    <p id="p1"><b>MINI HUESO DE POLLO CON AROMA A POLLO</b></p>
                    <p id="p2">Código de producto: 10009</p>
                    <ul>
                        <li>Material: Fibra de nylon y TPR</li>
                        <li>Medida: 14cm</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer class="foot">
        <div class="columna-izquierda">
            <h3>Enlaces de Interés</h3>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="adogtame.html">Adogtame</a></li>
                <li><a href="adogtour.html">Adogtour</a></li>
                <li><a href="adogtoy.html">Adogtoy</a></li>
                <li><a href="adogtell.html">Adogtell</a></li>
                <li><a href="adogtool.html">Adogtool</a></li>
                <li><a href="adogtor.html">Adogtor</a></li>
            </ul>
        </div>
        <div class="columna-central">
            <img id="img" src="../img/logo1.png" alt="">
        </div>
        <div class="columna-derecha">
            <h3>Contacte con nosotros</h3>
            <p><a href="adogtell.html#contacto">Ir al formulario</a></p>
            <p>adogtime@gmail.com</p>
            <div class="redes-sociales">
                <i class="fa-brands fa-facebook" style="font-size: 2vw;"></i>
                <i class="fa-brands fa-twitter" style="font-size: 2vw;"></i>
            </div> 
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/643ef715bb.js" crossorigin="anonymous"></script>
</body>
</html>