<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/adogtime.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/media-index.css">
    <link rel="stylesheet" href="../css/media-adogtame.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/adogtame.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>ADOGTIME</title>
</head>
<body>
    <header class="nav">
        <div class="nav-div1">
            <a href="../index.html"><img id="logo1" class="logo" src="../img/logo1.png" alt="Inicio"></a>
            <a href="../index.html"><img id="logo2" class="logo" src="../img/logo4.png" alt="Inicio"></a>
        </div>
        <nav class="menu">
            <a class="a" id="opcion-adopcion" href="adogtame.html">Adogtame</a>
            <a class="a" id="opcion-tour" href="adogtour.html">Adogtour</a>
            <a class="a" id="opcion-toy" href="adogtoy.html">Adogtoy</a>
            <a class="a" id="opcion-tell" href="adogtell.html">Adogtell</a>
            <a class="a" id="opcion-tool" href="adogtool.html">Adogtool</a>
            <a class="a" id="opcion-doctor" href="adogtor.html">Adogtor</a>
        </nav>
    </header>
    <main>
        <section class="s1">
            <div class="s1-div1" style="background-image: url(../img/2-ADOGTAME.jpg);">
                <div class="s1-div1-div1">
                    <h1 id="titulo-adopcion">ya soy tu <span class="color">familia</span><br>y te estoy <span class="color">esperando</span>.</h1>
                    <h3 id="subtitulo-adopcion">siempre a favor de la adopción responsable</h3>
                </div>
            </div>
        </section>
        <section class="s2">
            <div class="s2-div1">
                <p>Aquí descubrirás adorables perritos en busca de un hogar.</p>
                <p>Lee sus perfiles y encuentra a tu compañero perfecto.</p>
            </div>
        </section>
        <section class="adogtame-s2" id="adogtame-s2">
            <div class="adogtame-s2-div">
                <img src="../img/basenji - tarjeta 1.jpg" alt="">
                <video src="../videos/videoperritos.mp4" controls muted></video>
                <ul id="ul1">
                    <li>Cariñoso: Este perro es extremadamente afectuoso y siempre busca el contacto humano.</li>
                    <li>Juguetón: Disfruta de juegos y actividades lúdicas, y es muy enérgico.</li>
                    <li>Cuidador: Tiende a ser protector y se preocupa por los miembros de su familia.</li>
                </ul>
            </div>
            <div class="adogtame-s2-div">
                <img src="../img/basenji - tarjeta 2.jpg" alt="">
                <video src="../videos/videoperritos.mp4" controls muted></video>
                <ul id="ul2">
                    <li>Leal: Es leal y devoto a su dueño, siempre dispuesto a estar cerca y hacer feliz a su familia.</li>
                    <li>Inteligente: Aprende rápidamente y es hábil en la resolución de problemas.</li>
                    <li>Activo: Tiene mucha energía y disfruta de actividades al aire libre.</li>
                </ul>
            </div>
            <div class="adogtame-s2-div">
                <img src="../img/basenji - tarjeta 3.jpg" alt="">
                <video src="../videos/videoperritos.mp4" controls muted></video>
                <ul id="ul3">
                    <li>Independiente: Aunque es cariñoso, también valora su independencia y autonomía.</li>
                    <li>Curioso: Siempre está explorando su entorno y mostrando interés por nuevas cosas.</li>
                    <li>Protector: Tiende a ser alerta y protector de su territorio y familia.</li>
                </ul>
            </div>
            <div class="adogtame-s2-div">
                <img src="../img/basenji - tarjeta 4.jpg" alt="">
                <video src="../videos/videoperritos.mp4" controls muted></video>
                <ul id="ul4">
                    <li>Amigable: Este perro es amistoso y se lleva bien con otros animales y personas.</li>
                    <li>Tranquilo: Tiene un temperamento tranquilo y relajado.</li>
                    <li>Fiel: Es leal y confiable en todo momento.</li>
                </ul>
            </div>
            <div class="adogtame-s2-div">
                <img src="../img/basenji - tarjeta 5.jpg" alt="">
                <video src="../videos/videoperritos.mp4" controls muted></video>
                <ul id="ul5">
                    <li>Energético: Tiene una gran cantidad de energía y disfruta de actividades vigorosas.</li>
                    <li>Afable: Es amigable y se lleva bien con todos, incluyendo niños y otros animales.</li>
                    <li>Juguetón: Siempre está listo para jugar y divertirse.</li>
                </ul>
            </div>
            <div class="adogtame-s2-div">
                <img src="../img/basenji - tarjeta 6.jpg" alt="">
                <video src="../videos/videoperritos.mp4" controls muted></video>
                <ul id="ul6">
                    <li>Observador: Este perro es muy observador y alerta a su entorno.</li>
                    <li>Aventurero: Le gusta explorar y está dispuesto a probar cosas nuevas.</li>
                    <li>Intuitivo: Tiene una intuición especial para entender las emociones de las personas.</li>
                </ul>
            </div>
        </section>
    </main>
    <footer class="foot">
        <div class="columna-izquierda">
            <h3>Enlaces de Interés</h3>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="adogtame.html">Adogtame</a></li>
                <li><a href="adogtour.html">Adogtour</a></li>
                <li><a href="adogtoy.html">Adogtoy</a></li>
                <li><a href="adogtell.html">Adogtell</a></li>
                <li><a href="adogtool.html">Adogtool</a></li>
                <li><a href="adogtor.html">Adogtor</a></li>
            </ul>
        </div>
        <div class="columna-central">
            <img id="img" src="../img/logo1.png" alt="">
        </div>
        <div class="columna-derecha">
            <h3>Contacte con nosotros</h3>
            <p><a href="adogtell.html#contacto">Ir al formulario</a></p>
            <p>adogtime@gmail.com</p>
            <div class="redes-sociales">
                <i class="fa-brands fa-facebook" id="sm"></i>
                <i class="fa-brands fa-twitter" id="sm"></i>
            </div> 
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/643ef715bb.js" crossorigin="anonymous"></script>
    <script src="../javascript/adogtame.js"></script>
</body>
</html>