<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/adogtime.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/media-index.css">
    <link rel="stylesheet" href="../css/media-adogtool.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/adogtool.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>ADOGTIME</title>
</head>
<body>
    <header class="nav">
        <div class="nav-div1">
            <a href="../index.html"><img id="logo1" class="logo" src="../img/logo1.png" alt="Inicio"></a>
            <a href="../index.html"><img id="logo2" class="logo" src="../img/logo4.png" alt="Inicio"></a>
        </div>
        <nav class="menu">
            <a class="a" id="opcion-adopcion" href="adogtame.html">Adogtame</a>
            <a class="a" id="opcion-tour" href="adogtour.html">Adogtour</a>
            <a class="a" id="opcion-toy" href="adogtoy.html">Adogtoy</a>
            <a class="a" id="opcion-tell" href="adogtell.html">Adogtell</a>
            <a class="a" id="opcion-tool" href="adogtool.html">Adogtool</a>
            <a class="a" id="opcion-doctor" href="adogtor.html">Adogtor</a>
        </nav>
    </header>
    <main>
        <section class="s1">
            <div class="s1-div1" style="background-image: url(../img/6-ADOGTOOL.jpg);">
                <div class="s1-div1-div1">
                    <h1 id="titulo-tool">guarda en tu caja de <span class="color">herramientas</span><br>lo nuevo para mi <span class="color">cuidado</span>.</h1>
                    <h3 id="subtitulo-tool">encuentra herramientas de acicalamiento y seguridad para tu mascota</h3>
                </div>
            </div>
        </section>
        <section class="s2">
            <div class="s2-div1">
                <p>Descubre herramientas de acicalamiento y seguridad para tu mascota.</p>
                <p>Cepillos, collares y más para mantener a tu compañero feliz y protegido.</p>
            </div>
        </section>
        <section class="adogtool-s2" id="adogtool-s2">
            <div class="card" id="card">
                <div>
                    <img src="../img/tool-1.jpg" alt="Imagen frontal">
                </div>
                <div>
                    <p id="p1"><b>HUESO PORTA BOLSA</b></p>
                    <p id="p2">Un práctico accesorio que se adhiere al collar de tu perro y contiene bolsas para recoger desechos, asegurando que siempre estés preparado durante los paseos.</p>                  
                </div>
            </div>
            <div class="card" id="card">
                <div>
                    <img src="../img/tool-2.jpg" alt="Imagen frontal">
                </div>
                <div>
                    <p id="p1"><b>CEPILLO DE BAÑO CON DISPENSER DE SHAMPOO</b></p>
                    <p id="p2">Un cepillo multifuncional que facilita el baño de tu perro al tener un dispensador de champú incorporado, asegurando que su pelaje se mantenga limpio y saludable.</p>
                </div>
            </div>
            <div class="card" id="card">
                <div>
                    <img src="../img/tool-3.jpg" alt="Imagen frontal">
                </div>
                <div>
                    <p id="p1"><b>MOKSHA LOCION DESENREDANTE</b></p>
                    <p id="p2">Una loción desenredante que hace que el cepillado sea suave y sin nudos, manteniendo a tu perro con un pelaje suave y sin enredos.</p>
                </div>
            </div>
            <div class="card" id="card">
                <div>
                    <img src="../img/tool-4.jpg" alt="Imagen frontal">
                </div>
                <div>
                    <p id="p1"><b>CORTA UÑAS</b></p>
                    <p id="p2">Una herramienta esencial para el cuidado de las uñas de tu perro, diseñada para mantenerlas a la longitud adecuada de manera segura y sin molestias.</p>
                </div>
            </div>
            <div class="card" id="card">
                <div>
                    <img src="../img/tool-5.jpg" alt="Imagen frontal">
                </div>
                <div>
                    <p id="p1"><b>COLLARES</b></p>
                    <p id="p2">Un elegante collar diseñado para brindar comodidad y seguridad a tu mascota, disponible en una variedad de estilos y tallas.</p>
                </div>
            </div>
            <div class="card" id="card">
                <div>
                    <img src="../img/tool-6.jpg" alt="Imagen frontal">
                </div>
                <div>
                    <p id="p1"><b>BUZO PELUCHE OSITO</b></p>
                    <p id="p2">Un adorable buzo de peluche con diseño de osito para mantener a tu perro abrigado y con estilo durante los días más frescos.</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="foot">
        <div class="columna-izquierda">
            <h3>Enlaces de Interés</h3>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="adogtame.html">Adogtame</a></li>
                <li><a href="adogtour.html">Adogtour</a></li>
                <li><a href="adogtoy.html">Adogtoy</a></li>
                <li><a href="adogtell.html">Adogtell</a></li>
                <li><a href="adogtool.html">Adogtool</a></li>
                <li><a href="adogtor.html">Adogtor</a></li>
            </ul>
        </div>
        <div class="columna-central">
            <img id="img" src="../img/logo1.png" alt="">
        </div>
        <div class="columna-derecha">
            <h3>Contacte con nosotros</h3>
            <p><a href="adogtell.html#contacto">Ir al formulario</a></p>
            <p>adogtime@gmail.com</p>
            <div class="redes-sociales">
                <i class="fa-brands fa-facebook" style="font-size: 2vw;"></i>
                <i class="fa-brands fa-twitter" style="font-size: 2vw;"></i>
            </div> 
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/643ef715bb.js" crossorigin="anonymous"></script>
</body>
</html>