<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/media-index.css">
    <link rel="stylesheet" href="../css/media-adogtell.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/adogtell.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>ADOGTIME</title>
</head>
<body>
    <header class="nav">
        <div class="nav-div1">
            <a href="../index.html"><img id="logo1" class="logo" src="../img/logo1.png" alt="Inicio"></a>
            <a href="../index.html"><img id="logo2" class="logo" src="../img/logo4.png" alt="Inicio"></a>
        </div>
        <nav class="menu">
            <a class="a" id="opcion-adopcion" href="adogtame.html">Adogtame</a>
            <a class="a" id="opcion-tour" href="adogtour.html">Adogtour</a>
            <a class="a" id="opcion-toy" href="adogtoy.html">Adogtoy</a>
            <a class="a" id="opcion-tell" href="adogtell.html">Adogtell</a>
            <a class="a" id="opcion-tool" href="adogtool.html">Adogtool</a>
            <a class="a" id="opcion-doctor" href="adogtor.html">Adogtor</a>
        </nav>
    </header>
    <main>
        <section class="s1">
            <div class="s1-div1" style="background-image: url(../img/5-ADOGTELL.jpg);">
                <div class="s1-div1-div1">
                    <h1 id="titulo-tell"><span class="color">adopciones</span> contadas por mí<br> en varias <span class="color">historias felices</span>.</h1>
                    <h3 id="subtitulo-tell">conoce nuestra historia y la de tantas mascotas publicadas en el sitio</h3>
                </div>
            </div>
        </section>
        <section class="s2">
            <div class="s2-div1">
                <p>"Cada historia es un testimonio de amor y segundas oportunidades"</p>
            </div>
        </section>
        <section class="tell-s1">
            <div class="tell-s1-div" id="n-hist">
                <p id="tit">Nuestra Historia</p>
                <p>Todo comenzó como un proyecto en el curso "Codo a Codo". Cuatro chicas apasionadas por las mascotas, unidas por su amor incondicional hacia los animales y un deseo innato de hacer del mundo un lugar más amigable para ellos. Ese fue el punto de partida de nuestra aventura.</p>
                <p>Nos dimos cuenta de que había desafíos cotidianos que enfrentaban los amantes de las mascotas, y estábamos decididas a encontrar soluciones. Nos inspiramos en nuestras propias experiencias y en las necesidades de la comunidad de amantes de los animales para crear un proyecto que marcara la diferencia.</p>
                <p>Así nació nuestra misión: brindar soluciones "pet-friendly" para simplificar la vida de las personas y sus mascotas. Nos embarcamos en un viaje lleno de creatividad, dedicación y trabajo en equipo. Desde ese momento, no hemos dejado de innovar y colaborar con la comunidad para hacer que la vida con las mascotas sea más sencilla y gratificante.</p>
                <p>Cada día es un nuevo capítulo en nuestra historia, y estamos emocionadas por lo que el futuro nos depara. Agradecemos a todos los que nos han apoyado en este viaje y a nuestras queridas mascotas que nos inspiran todos los días.</p>
                <p>Únete a nosotros en esta emocionante aventura "pet-friendly". Juntos, podemos hacer del mundo un lugar mejor para nuestras adorables compañeras de cuatro patas. ¡Bienvenidos a nuestra historia!</p>
            </div>
        </section>
        <section class="tell-s2" id="hist">
            <p id="tit">Historias de Adopción</p>
            <div class="tell-s2-div" id="hist-div">
                <img src="../img/basenji - Adogtell - historias felices 1 - cachorros.jpg" alt="">
                <p id="p">Pedro, un perro callejero, fue rescatado por un refugio de animales local. Después de meses de rehabilitación y cuidados, Pedro encontró un hogar amoroso con una familia que lo adora. Ahora, disfruta de largos paseos y juegos en el parque con sus nuevos dueños, demostrando que incluso los perros callejeros pueden encontrar un lugar especial en un hogar.</p>
            </div>
            <div class="tell-s2-div" id="rev">
                <img src="../img/basenji - Adogtell - historias felices 2 - adultos.jpg" alt="">
                <p id="p">Max, un perro mestizo de tres años, pasó la mayor parte de su vida en un refugio de animales. Afortunadamente, una pareja que buscaba un compañero peludo para su hogar lo encontró. A pesar de sus primeros desafíos de adaptación, Max se ha convertido en un miembro querido de la familia, brindando alegría y amor a sus nuevos dueños.</p>
            </div>
            <div class="tell-s2-div">
                <img src="../img/basenji - Adogtell - historias felices 3 - familias.jpg" alt="">
                <p id="p">Rocky, Bella y Luna, tres amigos inseparables de un refugio, encontraron un hogar en una familia comprensiva. Juntos, se convirtieron en los guardianes leales de la casa y en compañeros entrañables para los niños, demostrando cómo la adopción puede enriquecer la vida de todos.</p>
            </div>
        </section>
        <section class="tell-s3" id="contacto">
            <div class="container" id="container">
                <p id="tit-form">¡Comunícate con nosotros!</p>
                <form class="row g-3" id="form" onsubmit="return validarFormulario()">
                    <div class="col-md-6">
                        <label for="selectMotivo" class="form-label">Motivo de consulta *</label>
                        <select class="form-select" id="selectMotivo" aria-label="Default select example">
                            <option selected>Selecciona... </option>
                            <option value="1">Adoptar mascotas</option>
                            <option value="2">Contactar con sitios petfriendly</option>
                            <option value="3">Comprar productos</option>
                            <option value="4">Contactar con especialistas</option>
                            <option value="5">Otro</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email *</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-12">
                        <label for="inputMsj" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="inputMsj" rows="3"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre *</label>
                        <input type="text" id="nombre" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="apellido" class="form-label">Apellido  *</label>
                        <input type="text" id="apellido" class="form-control">
                    </div>
                    <div class="col-md-12">
                      <label for="inputAddress" class="form-label">Dirección 1 *</label>
                      <input type="text" class="form-control" id="inputAddress">
                    </div>
                    <div class="col-md-12">
                      <label for="inputAddress2" class="form-label">Dirección 2</label>
                      <input type="text" class="form-control" id="inputAddress2">
                    </div>
                    <div class="col-md-6">
                      <label for="inputCity" class="form-label">Ciudad *</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">Provincia *</label>
                      <select id="inputState" class="form-select">
                        <option selected>Selecciona...</option>
                        <option value="Buenos Aires">Buenos Aires</option>
                        <option value="Catamarca">Catamarca</option>
                        <option value="Chaco">Chaco</option>
                        <option value="Chubut">Chubut</option>
                        <option value="CABA">Ciudad Autónoma de Buenos Aires</option>
                        <option value="Córdoba">Córdoba</option>
                        <option value="Corrientes">Corrientes</option>
                        <option value="Entre Ríos">Entre Ríos</option>
                        <option value="Formosa">Formosa</option>
                        <option value="Jujuy">Jujuy</option>
                        <option value="La Pampa">La Pampa</option>
                        <option value="La Rioja">La Rioja</option>
                        <option value="Mendoza">Mendoza</option>
                        <option value="Misiones">Misiones</option>
                        <option value="Neuquén">Neuquén</option>
                        <option value="Río Negro">Río Negro</option>
                        <option value="Salta">Salta</option>
                        <option value="San Juan">San Juan</option>
                        <option value="San Luis">San Luis</option>
                        <option value="Santa Cruz">Santa Cruz</option>
                        <option value="Santa Fe">Santa Fe</option>
                        <option value="Santiago del Estero">Santiago del Estero</option>
                        <option value="Tierra del Fuego">Tierra del Fuego</option>
                        <option value="Tucumán">Tucumán</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <label for="inputZip" class="form-label">C.P *</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-md-2 mx-auto text-center">
                        <input type="submit" value="Enviar" class="form-control btn btn-success" id="btn-enviar">
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="foot">
        <div class="columna-izquierda">
            <h3>Enlaces de Interés</h3>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="adogtame.html">Adogtame</a></li>
                <li><a href="adogtour.html">Adogtour</a></li>
                <li><a href="adogtoy.html">Adogtoy</a></li>
                <li><a href="adogtell.html">Adogtell</a></li>
                <li><a href="adogtool.html">Adogtool</a></li>
                <li><a href="adogtor.html">Adogtor</a></li>
            </ul>
        </div>
        <div class="columna-central">
            <img id="img" src="../img/logo1.png" alt="">
        </div>
        <div class="columna-derecha">
            <h3>Contacte con nosotros</h3>
            <p><a href="adogtell.html#contacto">Ir al formulario</a></p>
            <p>adogtime@gmail.com</p>
            <div class="redes-sociales">
                <i class="fa-brands fa-facebook" id="sm"></i>
                <i class="fa-brands fa-twitter" id="sm"></i>
            </div> 
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/643ef715bb.js" crossorigin="anonymous"></script>
    <script src="../javascript/adogtell.js"></script>
</body>
</html>